.App {
  font-family: sans-serif;
  text-align: center;

  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

button {
  border: 4px solid red;
  color: coral;
  box-shadow: 0.2rem 0.3rem rgb(170, 55, 55);
}
body {
  background-color: coral;
}
